{% extends 'base.html' %}

{% block title %}AirDBUK{% endblock %}

{% block content %}
<!-- Search Container -->
<div class="hero-banner">
    <div class="hero-overlay">
        <div class="container">
            <div class="hero-content">
                <h1 class="hero-title">Welcome to AirDBUK</h1>
                <p class="hero-subtitle">Travel the UK! Find and book your perfect flight</p>

                <div class="search-container">
                    <form method="get" action="{% url 'search_results' %}" id="search-form">
                        <div class="row g-2">
                            <div class="col-6">
                                {{ form.departure_airport.label_tag }}
                                {{ form.departure_airport }}
                            </div>
                            <div class="col-6">
                                {{ form.arrival_airport.label_tag }}
                                {{ form.arrival_airport }}
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-4">
                                {{ form.departure_date.label_tag }}{{ form.departure_date }}
                            </div>
                            <div class="col-4">
                                {{ form.travel_class.label_tag }}{{ form.travel_class }}
                            </div>
                            <div class="col-4">
                                {{ form.passengers.label_tag }}{{ form.passengers }}
                            </div>
                        </div>
                        

                        <button type="submit" class="btn btn-primary mt-3">Search Flights</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Search Container -->

<!-- Extra Grid -->
<div class="container mb-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <a href="#search-form" onclick="fillSearch('London, LHR, (Heathrow Airport)', 'Manchester, MAN, (Manchester Airport)', 'Economy', 1)"><img src="static/images/Airport_1.webp" class="card-img-top" alt="Airport_1" ></a>
                <div class="card-body">
                    <h5 class="card-title">Heathrow to Manchester!</h5>
                    <p class="card-text">Go check out the wonderful music, nightlife and festivals in Manchester! With iconic venues like the AO Arena or the 02 Apollo, you are certain to have a great time!</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">LHR to MAN</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card home h-100">
                <img src="static/images/Airport_2.webp" class="card-img-top" alt="Airport_2">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="static/images/Airport_3.webp" class="card-img-top" alt="Airport_3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Extra Grid -->


<!-- datalists for the JS-powered typeahead -->
<datalist id="departure-list"></datalist>
<datalist id="arrival-list"></datalist>



{% endblock %}