{% extends "base.html" %}
    
{% block title %}Register User{% endblock %}

{% block content %}
{% load static %}

{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There was an error with your form...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<div class="register-page">
    <div class="container mt-3">
        <div class="shadow p-4 mb-5 bg-body rounded">
        
            <h1>Register</h1>
            <form method="POST" action="{% url 'register_user' %}">
                {% csrf_token %}
                
                {{ form.as_p }}

                <br></br>
                <button type="submit" value="Submit" class="account_button_secondary">Register</button>
            </form>
        </div>
    </div> 
</div>

{% endblock %}